<settings>
	<category label="Login">
		<setting label="Usuário" id="username" type="text" default=""/>
		<setting label="Senha" id="password" type="text" default="" enable="!eq(-1,)" option="hidden"/>
		<setting label="Servidor" id="server" type="text" default="" enable="!eq(-1,)"/> 
	</category>
	<category label="Formato Stream">
		<setting label="Formato Stream" id="output" type="enum" values="M3U8|TS" default="1" />
	</category>
	<category label="Controle dos Pais">
		<setting label="[COLOR lightblue]Controle dos Pais:[/COLOR]" type="lsep"/>
		<setting label="Entre aqui para alterar senha" type="action" action="RunScript(plugin.video.iptvpremium, SetPassword)"/>
		<setting label="[COLOR yellow][B]Senha padrão 0069[/B][/COLOR]" type="bool"/>	
	</category>		
</settings>